html {
  min-height: 100vh;
  display: flex;

}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-between;
}

ul {
  margin: 10px 0;
  padding: 0;
}

h2 {
  margin: 10px 20px;
}

li {
  list-style-type: none;
  margin: 2px;
  border: 1px solid black;
  background: white;
}

li:last-child {
  margin-bottom: 15px;
}

.second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetCounter {
  border: 3px solid blue;
  border-radius: 5px;
  background: #8eb5f5;
}

.scores {
  border: 2px solid red;
  border-radius: 5px;
  background: pink;
}

.motivator {
  font-size: 50px;
}
